* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Times, 'Times New Roman', serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.drawer-header {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/softwarepro-28ade.appspot.com/o/pokemon-club-graphic.jpeg?alt=media&token=fceba11c-6910-49f6-a35b-ded29f9a337f');
  padding: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px; 
}

.pokemonTypography {
  color: #FFCB05; 
  text-shadow:  
    3px 3px 0px #003A70, 
    6px 6px 0px rgba(0,0,0,0.15); 
  font-weight:600;
  font-family: 'Luckiest Guy', serif; 
  &:hover {
    color: #ff0000;
    transition: transform 0.3s ease-in-out;
  }
}
.full-screen-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/softwarepro-28ade.appspot.com/o/pokemonclub.png?alt=media&token=d02e1428-63c7-43ce-875a-98d06c50ac7e');
  background-size: cover;
  background-position: center;
  height: 100vh; 
  width: 100vw; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.home-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/softwarepro-28ade.appspot.com/o/147fca969308b2ce8b7988ab47bb2e01.jpg?alt=media&token=e0c57d90-cc3d-43ae-9326-b86c54e211d3');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}
.transparent-background {
  background-color: rgba(255, 255, 255, 0.4); 
}

/* Pokemon Card */

.pokemon-card {
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pokemon-name {
  color: #FFCB05; 
  text-shadow:  
    3px 3px 0px #003A70, 
    6px 6px 0px rgba(0,0,0,0.15); 
  font-weight:600;
  font-family: 'Luckiest Guy', serif; 
}

.pokemon-type {
  background-color: #f8d030; 
  color: white;
  border-radius: 10px;
  padding: 3px 6px;
  display: inline-block;
  margin-top: 5px;
}
